<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   <context:annotation-config></context:annotation-config>
   <context:property-placeholder location="classpath:app.properties"></context:property-placeholder>
   <context:component-scan base-package="com"></context:component-scan>
    <!-- bean definitions here -->
    <!-- <bean id="stu" class="com.Student"  >
    	<property name="sid" value="1"></property>
    	<property name="name" value="Nitish"></property> 
    	<property name="adr" ref="adr"></property>  	
    </bean>
    
    <bean id="adr" class="com.Address">
    	<property name="dno" value="101"></property>
    	<property name="city" value="Kadapa"></property>
    </bean>
    
    <bean id="adr" class="com.Address">
    	<constructor-arg name="dno" value="102"></constructor-arg>
    	<constructor-arg name="city" value="Kanipakam"></constructor-arg>
    </bean>
    <bean id="adr1" class="com.Address">
    	<constructor-arg name="dno" value="103"></constructor-arg>
    	<constructor-arg name="city" value="Bangalore"></constructor-arg>
    </bean>
 -->
</beans>